@media only screen and (max-width: 1024px){
    .customerInfo div.formLeft p.mobile:last-child > label{
        width:34%;
    }
    .customerInfo div.topForm label{padding-right:15px;}
    .customerInfo div.topForm .left label{padding-right:0px;}
}
@media only screen and (max-width: 768px){
    .customerInfo .formLeft p{width:100%; margin-bottom: 15px;}
    .customerInfo .formLeft p:last-child{margin-bottom: 0px;}
    .customerInfo .formLeft label, .customerInfo .right label{
        width:17%;
        text-align: left;
    }
    .customerInfo .formLeft input, .showForm input{width:83%; max-width: 255px; float:left;}
    .customerInfo div.formLeft p.mobile:last-child > label{width:17%;}
    .customerInfo .formRight > div:first-child{width:100%; padding-left:17%; margin-bottom: 0px;}
    .customerInfo .formRight > div.right{width:100%;}
    .customerInfo .showForm{width:100%;}
    .customerInfo .right .message.showForm label{text-align: left}
}
@media only screen and (max-width: 736px){
    div#form-login, div#form-register{
        overflow-y: auto;
        max-height: 90%;
        top: 5%;
        max-width: 375px;
    }
    div#form-login > a > i, div#form-register > a > i{
        top:5px ;right:10px;
    }
    div#form-login > a > i:hover , div#form-register > a > i:hover{color:#fff}
}
@media only screen and (max-width: 600px){
    div#menu-lang{top:60px;}
}
@media only screen and (max-width: 568px){
    .customerInfo div.topForm label{padding-right:0px;}
    div#form-login, div#form-register{left:17%;}
}
@media only screen and (max-width: 480px){
    .customerInfo .formLeft input, 
    .showForm input, .customerInfo div.formLeft p.mobile:last-child > label,
    .customerInfo .formLeft label, 
    .customerInfo .right label, .right .message.showForm label,
    .customerInfo .message.showForm textarea{width:100%; max-width: 100%; line-height: 25px;}
    .customerInfo .formRight > div:first-child{padding:0px; line-height: 25px;}
    div.checkCart .title-h2 > span{margin-left: 20px;}
    div.topCart ul > li{width:20% !important; text-align: center;}
    div.topCart ul > li.second{width:30% !important;}
    div.topCart ul > li.fourth{width:10% !important;}
    div.topCart .first > span > i{margin:0px; display:block;}
    div.topCart li > span{
        text-align: center;
        min-height: 60px;
        padding: 10px 0px;
        display: block;
        line-height: 22px;
    }
    div.topCart li.fifth > span{text-align: right}
/*    div.topCart .third span > i, div.topCart .third span > i.glyphicon-minus{margin:0 auto; display: block;}*/
    div.topCart li.third span > i{
        display:inline-block;
        width:20px;
        height: 20px;
        line-height: 20px;
        margin-top:4px;
    }
    div.topCart .fourth > span > i, .scheduleMore ul li:last-child> i{font-size: 25px; line-height: 30px}
    div.topCart ul > li.col-one{width:30% !important}
    div.topCart .serviceCart li > span{
        text-align: left;
        min-height: auto;
        padding: 10px 0px;
        display: block;
    }
    div.serviceCart .col-two{width:38% !important;}
    div.topCart div.serviceCart .col-three{width:32% !important;}
    div.topCart .serviceCart li.col-three > span{text-align: right;}
    div#menu-lang{top:50px;}
    div#form-login, div#form-register{left:4.5%; max-width: 355px; height: 100%;}
}
@media only screen and (max-width:384px){
    div.topCart ul .third{width:20% !important;}
    div.topCart ul .fifth{width:22% !important;}
    div#form-login, div#form-register{left:1%;}
    div.topCart li.third span > i{ margin: 4px 0 0}
    div.topCart ul > li.fourth{width:8% !important;}
    div.topCart li.third span > i:first-child{margin-right:10%}
}
@media only screen and (max-width:375px){
    div#form-login, div#form-register{left:0.5px;}
}
@media only screen and (max-width:320px){
    div.topCart li > span{font-size:11px; line-height: 20px;}
    div.topCart .serviceCart li > span{font-size: 12px; line-height: 30px;}
    div#form-login, div#form-register{max-width: 98%;left:1%;}
    div.form-login .social > a{line-height: 30px; margin-right: 5px;}
    div.form-login .social .fa{width:30px; height: 30px; line-height: 30px; font-size:16px;}
    div.form-login .social .fa.fa-facebook, div.form-login .social .gg{
        width:30px; 
        height: 30px;
        background-size:30px;
    }
    div.form-login .social .fa.fa-facebook{margin-right:5px;}
    div.form-login .social .fb{padding-right:5px;}
    div#form-login .devide p{left:95px;}
    div#form-register .devide p{left:17px; font-size:13px;}
    div#form-register.form-login .bottom{padding: 15px 5px;}
    div.topCart li.third span > i{width:16px; height: 16px; line-height: 16px;}
    div.topCart .fourth > span > i, .scheduleMore ul li:last-child> i{font-size:20px; line-height: 28px;}
/*
    div.form-login .social .fb{
        margin: 0 auto;
        width: 100%;
        max-width: 90%;
        float: none;
    }
*/
}