.page-header.navbar .page-logo .logo-default {
	margin: 0;
}


.orderMenuItems >div >a {
	float: right;
	margin: 2px !important;
}

.orderCartDiscountCode {
	display: inline-block;
	width: auto;
}

.ordersMenuSizes >a.selected {
	background-color: red;
}

.ordersMenuTopping >a {
	margin: 5px;
	margin-left: 0 !important;
	font-weight: 700;
}


.orderCustomerInfo {
	position: fixed;
	opacity: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	background-color: #fff;
	border-top: 5px solid #45b6af;
	transition: all .3s ease .15s;
	
	&.show {
		opacity: 1;
		height: 250px;
	}
}

.orderCustomerInfo >div >div >div >label {
	font-weight: 700;
	font-size: 0.95em;
}

.orderCustomerToggle >span {
	font-size: 30px;
	position: absolute;
	left: 10px;
	top: 10px;
	color: red;
}


.dataListSearch .DataListBtn {
	margin-top: 4px;
}


body.modal-open {
    overflow: hidden !important;
}


#orderPrintBLock {
	.NoOrderPrint {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		border: 1px solid #000;
		font-weight: 700;
		
		@media print {
			width: 30px;
			height: 30px;
			line-height: 30px;
		}
	}

	.orderPrintTitle {
		h3 {
			font-weight: 700;
			margin: 0;
			padding: 0;
		}
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.myDialogBox .orderPrintContent {
	display: none;
}

/*  style for print*/
@media print {
	.orderPrintContent {
		table {
			margin: 0;
			
			tr td {
				padding: 2px 5px !important;
			}
		}

		* {
			font-size: 9px;
		}

		th {
			font-size: 9px !important;
		}

		small {
			font-size: 8px !important;
		}

		p {
			margin: 0;
			padding: 0;
		}

		.orderPrintTitle >h3 {
			font-size: 10px;
			margin: 0;
			padding: 0;
		}



		.orderPrintDivider {
			position: absolute;
			z-index: 9999;
			height: 100%;
			width: 2px;
			margin: 0 auto;
			top: 0;
			left: 0;
			right: 0;
			height: 1000px;
			background-color: #ccc;
		}
	}
}