.idx
{
    font-size: .95em;
    font-weight: 700;

    color: #f00;
}
.btnUpload + .fileupload
{
    display: none;
}
.fileupload + .progress
{
    width: 300px;
}
.fileupload + .progress .progress-bar
{
    width: 0;
}
.previewUpload
{
    width: 200px;
    height: 200px;
}

.Form_add .forEdit
{
    display: none;
}

.Form_edit .dataChanged
{
    border-color: #26a69a;
}


.listTopping
{
    list-style: none;
}
.listTopping li
{
    display: inline-block;

    margin: 2px;
    padding: 2px 4px;

    cursor: pointer;

    border: 1px solid #f2f2f2;
}
.listTopping li:hover
{
    border-color: #4696c8;
}
.listTopping li.selected
{
    color: #fff;
    background-color: #4696c8;
}


hr {
	margin: 5px 0;
}


.btnShowMore {
	display: block;
	cursor: pointer;
	font-weight: 700;
	font-size: 0.95em;
	margin: 5px 0;
}
.btnShowMore + div {
	display: none;
}


/* Custom modal effect */
.modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 300px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -300px, 0);
    transform: translate3d(0, -300px, 0);
    opacity: 1;
}

.datepicker td {
    cursor: pointer;
}