@media only screen and (min-width: 1200px){
	#header-menu .categories-menu{
		left: 12%;
	}

}
@media only screen and (max-width: 1024px){
	.product:hover .detail .standard .btn-product {
	    padding: 10px 3px;
	}
	#header-menu .categories-menu{
		left: 2%;
	}
	#popup-home-page{
		left: 0;
	}
	#datepicker{
		right: 20%;
	}
	#form-register{
		position: absolute;
	}
	#form-login {
		left: 370px;
		position: absolute;
	}
	#menu-lang{
		right: 0;
	}
	#footer .slink-social-left{
		width: 35%!important;
	}
	#footer .link-social-right{
		width: 65%!important;
	}

}
@media only screen and (max-width:1000px){
	#header-menu .categories-menu.fixed #cat_popup{
		overflow: scroll;
		height: 300px;
	}
	.home-page .pick-block .col-sm-3{
		width: 59%;
	}
	.home-page .pick-block .col-ms-3.col-xs-12 label{
		margin-top: 10px;
	}
	.footer-top .link-social{
		    height: auto;
    	text-align: center;
	}
	.footer-bottom .col-about {
	    max-width: 30%;
	    margin-left: 3%;
	}
	.footer-bottom .col-about  ul.social > li{
		margin-top: 0;
	}
	.footer-bottom .col-blog {
	    max-width: 42%;
	}
	.footer-bottom .col-link {
	    max-width: 25%;
	    float: right;
	}
	#footer .slink-social-left {
	    width: 100%!important;
	}
	#footer .link-social-right {
	    width: 100%!important;
	}
	.bg-popup{
		position: relative;
	}
	#popup-home-page{
		position: absolute;
	}
	.categories-menu{
		left: 2%;
	}
	.main-menu .menu-subs{
		left: 0;
	}
	#cart-item{
		left: -325px;
	}
	#form-login, #form-register{
		left: 300px;

	}
	#popup-home-page img {
	    width: 40%;
	    height: auto;
	    margin-top: 37px;
	}
	#popup-home-page .right-popup {
	    padding-right: 10px;
	    padding-left: 10px;
	}
	#popup-home-page .right-popup .bottom p {
	    width: 100%;
	    float: left;
	}
	#popup-home-page .right-popup .bottom h6 {
	    width: 100%;
	    float: left;
	    text-align: left;
	    margin-top: 0;
	}
	#popup-home-page .right-popup .bottom .form-qr{
		margin-top: 0;
	}
	#popup-home-page .right-popup .bottom .form-qr .select2-container {
	    width: 100%!important;
	}
	#popup-home-page .right-popup .bottom .form-qr{
		margin-top: 0;

	}
	#popup-home-page .right-popup .bottom .form-qr .col-xs-6{
		margin-top: 10px;
	}
	#logo {
	    max-width: 100%!important;
	    width: 100%;
	    text-align: center;
	}
	#datepicker ,#form-login,#form-register{
	    top: 235px;
	}
	#menu-schedule,#menu-lang{
		top: 191px
	}
	.index-page .header-bottom {
	    height: 435px;
	}
	.home-page .pick-block .col-sm-3{
		width: 59%;
	}
	.home-page .pick-block .col-ms-3.col-xs-12 label{
		margin-top: 10px;
	}
	.product{
		overflow: hidden;
	}
	.product .main-img img {
	    max-width: 100%;
	    height: 236px;
	}
	.product .main-img{
		text-align: center;
    	
	}
}
@media only screen and (max-width:736px){
	.bg-popup{
		position: relative;
	}
	#popup-home-page{
		position: absolute;
	}
	#header-menu > .container{padding: 0}
	#header-menu .main-menu{
		width: 80%;
	}
	#header-menu .profile{
		width: 20%;
	}
	#header-menu .categories-menu {
	    left: 0;
	}
	#cat_popup {
	    top: 156px!important;
	    position: absolute;
	   
	    overflow: scroll;
	    height: 220px;
	}
	#footer .slink-social-left {
	    width: 100%!important;
	}
	#footer .link-social-right {
	    width: 100%!important;
	}
	.footer-bottom .col-about {
	    max-width: 30%;
	    margin-left: 3%;
	}
	.footer-bottom .col-about  ul.social > li{
		margin-top: 0;
	}
	.footer-bottom .col-blog {
	    max-width: 42%;
	}
	.footer-bottom .col-link {
	    max-width: 25%;
	    float: right;
	}
	#footer .footer-bottom .col-photo{
		max-width: 100%;
   		text-align: center;
	}
	#footer .footer-bottom .col-photo a{
		width: 16.33%
	}
}
@media only screen and (max-width:667px){
	.profile {
		position: absolute;
		right: 0;
	}
	#menu-schedule, #menu-lang {
	    top: 75px;
	    right: 0;
	}
	#header-menu .main-menu{
		width: 100%;
	}
	#header-menu .categories-menu {
	 
	    padding-left: 10px;
	}
	#header-menu .categories-menu.fixed #cat_popup {
	    top: 50px!important;
	    left: 0;
	}
	.main-menu .menu-subs {
	 
	    top: 88px;
	    left: 0;
	}
	#datepicker, #form-login, #form-register {
	    top: 217px;
	}
	#form-login, #form-register {
	    left: 0;
	}
	.feedback-block .content {
	    font-size: 20px;
	    font-family: Roboto;
	}
	.pick-block .for-detail button {
	    margin-top: 25px;
	    width: 150px;
	    line-height: 50px;
	    padding: 0;
	    height: 50px;
	}
	.pick-block .for-detail .btn i{
		top: 35px;
	}
	.block-title{
		font: 900 28px / 30px Arial;
	}
	#header .header-top p,#header .header-top a{font-size: 13px;}
}
@media only screen and (max-width:600px){
	#header-menu .profile {
	    width: 25%;
	}
	#cart-item {
	    width: 560px;
	}
	#header .header-top p, #header .header-top a {
	    font-size: 12px;
	}
	.app-footer-left {
	    width: 100%;
	}
	.app-footer-right {
	    padding-top: 5px;
	    padding-bottom: 15px;
	    width: 100%;
	    text-align: center;
	}
	.link-social-right input {
	    width: 270px;
	    margin-top: 16px;
	}
	.link-social-right button {
	    width: 110px;
	}
	.link-social-right {
	    line-height: 60px;
	}
}