@media only screen and (max-width: 1024px) {
    /* HEADER */
    div.slider .item > img{
        min-height: 350px;
    }
    div#header-menu.is-fixed .main-menu > li > a{padding:0 70px}
    .checkout-block .block-title{font-size:30px;}
    .wrap-cart #cart-item .bottom-info{width:100%;height: auto;position: relative;overflow: hidden;}
    .bg-popup #popup-home-page{
        width: 98%;
        left:1%;
    }
    div#form-login, div#form-register{left:34%;}
    div#cart-item{left:20%}
    div#menu-lang{right:10px;}
    /*FOOTER*/
    .link-social .slink-social-left{
        width:33.3%;
    }
    .link-social .link-social-right{
        width:66.7%;
    }
    .link-social-right button{position: relative; top:-1px;}
    .footer-bottom .col-xs-12{ width:25%;}
    .product:hover .detail .extra .btn-product{padding: 10px 5px;}
    div#cat_popup{left:4%}
    /*PAGE*/
    div.slider.page .item img{
        min-height: 300px;
    }
    div.avata > .wrap > a > img{
        width:100%;
    }
    /*Checkout*/
    div.topCart ul .first, div.serviceCart .col-one{width:18%; max-width: 100%;}
    div.topCart .second, div.serviceCart .col-two{margin-left:0px;}
    div.checkOut .select2-container--default .select2-selection--single{height: 41px;}
    div.topForm label{font-size:14px; padding-right:0px;}
    div.formLeft p:last-child > label{width:70% ; max-width: 100%; display:inline-block}
    /*PRODUCT*/
    .page-product .product:hover .detail .standard .btn-product{padding: 10px 5px;}
    div.page-product .pick-product .product.col-xs-6.col-sm-4{height: auto; min-height: 280px;}
    .page-product .pick-product .product.col-xs-6.col-sm-4 .main-img{min-height: 280px;}
    .page-product .pick-product .product.col-xs-6.col-sm-4 .main-img > img{width:100%; height: auto;}
/*    .page-product .pick-product{overflow: hidden;}*/
    .page-product .content-right nav{clear: both;}
    #header-menu.is-fixed .main-menu > li.cart > a > span{
        left:85px;
    }
    div#cat_popup{
        overflow-y: auto;
        height: 75%;
        max-width: 90%;
    }
    .bg-popup #popup-home-page, div#cart-item{
        left: 5%;
        width: 90%;
        top: 5%;
        height: auto;
        max-height: 90%;
        overflow-y: auto;
    }
    #cart-item .cat-top-info ul{
        display: block;
        width: 100%;
        overflow: hidden;
    }
}
@media only screen and (max-width: 769px){
    div#cat_popup{ left:15px;}
    .container{width:100%; max-width: 100%;}
    ul.main-menu > li > a > span{display:none;}
    ul.main-menu > li.cart > a > p{display:none;}
    ul.main-menu > li > a{padding: 0px 45px !important;}
    ul.main-menu > li.login-menu > a{background-position: center center}
    #header-menu.is-fixed ul.main-menu > li.cart > a > span{left:60px;}
    .checkout-block .left-img{text-align: center;}
    .pick-block .container{
        padding:0px;
        width:100%;
    }
    div#form-login, div#form-register{left:29%;}
    .ask_delitm{margin-top:10px;}
    .pick-block .for-detail{padding: 0 10px;}
    #schureBlock.schure{min-height: 223px; background-size: 100% 100%;}
    .list-products .product .main-img img{width:100%}
    .list-products .product{margin-bottom: 15px; border: none;}
    .link-social .slink-social-left, .link-social .link-social-right{width:100%; text-align: center}
    #footer .footer-top .link-social{
        height: auto;
        padding-bottom: 30px;
    }
    .footer-top .link-social-right.col-md-6{line-height: 30px;}
    .footer-top .link-social-right p{display:inline-block; float:none;}
    .footer-top .link-social-right input{display: inline-block;float: none; margin: 0px;}
    .footer-bottom .col-xs-12{width:50%; max-width: 100% !important; margin-bottom: 20px;}
    .footer-bottom ul.social > li{margin-top:10px;}
    .footer-bottom ul.social{overflow: hidden;}
    .footer-bottom .col-xs-12.col-photo{padding: 0 15px;}
    .col-xs-12 h4.title-ft{margin-bottom: 20px;}
    .col-photo .photo-stream > a > img{width:100%; height: auto;}
    .bg-popup #popup-home-page .right-popup .bottom p, .bg-popup #popup-home-page .right-popup .bottom h6{
        width: 100%;
        float: none;
        margin:0px;
    }
    .bg-popup #popup-home-page .right-popup .bottom p{line-height: 30px; padding: 10px 0px}
    .bg-popup #popup-home-page .right-popup .bottom h6{text-align: left;padding:0px}

    .bg-popup #popup-home-page .right-popup .bottom .form-qr{
        overflow: hidden;
        margin-top: 10px;
    }
/*    .bg-popup #popup-home-page{position: absolute;}*/
    .form-qr .col-xs-12{ width: 50%; margin-bottom: 15px;}
    .end > br{display:none;}
    .bg-popup #popup-home-page .right-popup .bottom .form-qr .end a{display:inline-block; padding: 0 15px; margin-bottom: 5px;}
    /*PAGE*/
    div.avata > .wrap{
        margin: 0 auto;
    }
    #proFile{padding-bottom: 30px;}
    /*CheckOut*/
    div.voucherCart .form-control{width:50%;}
    .voucherCart > span{width:30%;}
    div.topCart .second{width:40%;}
    div.topCart .third{width:20%;}
    div.topCart .fifth{width:14%;}
    div.topCart .fourth{width:13%; margin:0px;}
    div.voucherCart p{width:65%}
    div.voucherCart span{width:35%; text-align: right;}
    div.serviceCart .col-two{width:50%}
    div.serviceCart .col-three{width:32%}
    div.topForm .formLeft{width:100%; margin-bottom: 15px;}
    div.topForm .formRight, .bottomForm .address{width:100%;}
    div.checkCart .topCart, div.checkOut .customerInfo, div.checkCart .scheduleMore, div.payName{padding-left:0px;}
    div.local label{width: 100%}
    div.bottomForm .local{width:35%;}
    div.checkOut .select2-container{width:100% !important;}
    div.bottomForm .address{position: relative; top:40px;}
    div.payName label, div.addPay textarea{width:100%;}
    .content-right{padding:0px !important;}
    div.page-product .pick-product .product.col-xs-6.col-sm-4{min-height: 280px;}
}
@media only screen and (max-width:737px){
    #popup-home-page .right-popup .bottom .exit i {
        position: fixed;
        top: 9%;
        right: 10%;
    }
    #popup-home-page .wrap > p {
        width: 100%;
        max-width: 375px;
        float: none;
        margin: auto;
    }
    #popup-home-page .right-popup {
        width: 100%;
        margin-top: 25px;
    }
    .bg-popup #popup-home-page .right-popup .bottom p, .bg-popup #popup-home-page .right-popup .bottom h6 {
        width: 50%;
        float: left;
        padding: 0;
    }
    #popup-home-page .right-popup .bottom p a{margin-right: 5px}
    .bg-popup #popup-home-page .right-popup .bottom .form-qr .end a{
        margin-right: 5px;
        padding: 0 5px;
    }
    #schureBlock.schure p{
        line-height: 200px;
        font-size: 24px;
        margin-bottom: 0px;
    }
    #proFile .tex-content{padding-left:0px; padding-right:0px;}
    #proFile .history-order h4{width:50%}
    #proFile li.col-history{width:25%; float:left}
    div.formRight > div > label{width:30.5%}
    div.formRight > div > input{width:69.5%}
    div.formRight > div:last-child > label{width:15%}
    div.formRight > div:last-child > textarea{width: 85%}
    div.topCart .second{width:38%; padding-left:10px;}
    .page-product .pick-product .product.col-xs-6.col-sm-4{min-height: 400px}
    .product .main-img{min-height: 250px;}
    div#form-login, div#form-register{left:25%; top:6%;}
    #cart-item .cat-top-info p i{margin-left: 0 !important;margin-right: 0 !important;}
    div.wrapSub .menu-subs{overflow-y:auto; max-height: 90%; max-width: 400px;}
    div.wrapSub .menu-subs > a > i{color:#02B691; top: 2px; right:5px;}
    div.wrapSub .menu-subs > a > i:hover{color:#02B691;}
    div.page-product .pick-product .product.col-xs-6.col-sm-4{min-height: 430px;}
}
@media only screen and (max-width: 668px){
    div.header-top p, div.header-top a{
        height: 30px; line-height: 30px;
    }
    .header-bottom #header-menu{
        max-height: 60px;
        line-height: 60px;
    }
    div#logo{max-width: 25%;}
    ul.main-menu > li > a{
        padding: 0 40px !important;
        height: 60px;
        line-height: 60px;
        background-position: center center !important;
    }
    #header-menu .categories-menu{height: 1px; top:7px}
    #header-menu #logo img{
        max-height: 50px;
    }
    #header-menu .main-menu > li.cart > a > span{top:5px;}
    #header-menu.is-fixed ul.main-menu > li.cart > a > span{left:50px}
    #cart-item .bottom-info p{padding-right: 5%}
    #cart-item .bottom-info a {
        width: 28%;
        margin-right: 2%;
        padding: 0;
        line-height: 76px;
    }
    .wrap-cart #cart-item .bottom-info a > i {left: 0px;}
    #calende .col-xs-6 .select2-container{width:100% !important;}
    div#logo{max-width: 30%;}
    div.header-top p, div.header-top a{font-size:12px;}
    div.formRight > div, 
    div.topForm label, 
    div.formRight > div > label, 
    div.formRight > div > input, div.formLeft input, div.formRight > div:last-child > label,
    div.formRight > div:last-child > textarea {width:100%}
    div.formRight > div:last-child > textarea {margin-top:10px;}
    div.formLeft input{float: left;}
    div.formRight > div > label, div.formRight > div:last-child > label{text-align: left;}
    div.topForm .formLeft{max-width: 100%;}
    div.formLeft p:last-child{padding-left:0px;}
    div.page-product .pick-product .product.col-xs-6.col-sm-4{min-height: 380px}
}
@media only screen and (max-width: 600px) {
    div.header-top p, div.header-top a{
        height: 30px; line-height: 30px;
    }
    .header-bottom #header-menu{
        max-height: 60px;
        line-height: 60px;
    }
    div#logo{max-width: 25%;}
    ul.main-menu > li > a{
        padding: 0 40px !important;
        height: 60px;
        line-height: 60px;
        background-position: center center !important;
    }
    #header-menu .categories-menu{height: 1px; top:7px}
    #header-menu #logo img{
        max-height: 50px;
    }
    #header-menu .main-menu > li.cart > a > span{top:5px;}
    #header-menu.is-fixed ul.main-menu > li.cart > a > span{left:50px}
    .footer-top .link-social-right input{width:100%; max-width: 200px;}
    .link-social-right button{
        max-width: 120px;
        width: 100%;
    }
    .footer-top .app-footer{height: auto;}
    .footer-top .app-footer-left img{width:100%;}
    .footer-top .app-footer-right{padding-top:35px;}
    #schureBlock.schure p{
        font-size: 20px;
    }
    /**PAGE**/
    #proFile li.col-history{
        width:35%;
        text-align: center;
    }
    #proFile li.col-history:last-child, #proFile li.col-history:first-child{width:15%;}
    /*CHECKOUT*/
    div.topCart li > span{font-size:14px;}
    div.topCart .fourth{width:10%;}
    div.page-product nav .pagination{padding: 0px}
    div#cat_popup, div#menu-schedule {	top:90px;}
    .is-fixed div#cat_popup, .is-fixed div#menu-schedule {	top:70px;}
    ul.profile > li{margin-left:10px;}
    div.header-top p, div.header-top a{font-size:11px;}
    div.page-product .pick-product .product.col-xs-6.col-sm-4{min-height: 350px;}
}
@media only screen and (max-width: 568px){
    #popup-home-page > .wrap{padding: 10px;    }
    #popup-home-page .right-popup .top .icon a:nth-child(1){right: 35px;}
    #popup-home-page .right-popup .top .icon a:nth-child(2){right: 0px;}
    ul.main-menu > li > a{padding: 0 30px !important;}
    div.header-top p, div.header-top a{display:none;}
    .list-products .product{width:100%;}
    .footer-bottom .col-xs-12{width:100%; text-align: center;}
    .footer-bottom ul.social{display: inline-block;}
    .col-photo .photo-stream{max-width: 60%; margin: 0 auto;}
    #schureBlock.schure{max-height: 200px; min-height: auto;}
}
@media only screen and (max-width: 480px) {
    .bg-popup #popup-home-page .right-popup .bottom .form-qr .end a{float: left}
    #popup-home-page .right-popup .top .text{margin-top:15px;text-align: justify}
    .bg-popup #popup-home-page .right-popup .bottom p,
    .bg-popup #popup-home-page .right-popup .bottom h6{
        width: 100%;
        text-align: center;margin-bottom: 5px;
    }
    #popup-home-page > .wrap .topBottom { margin: 25px 0px 0 !important;    }
    .form-qr .col-xs-12,
    #popup-home-page .right-popup .bottom .form-qr .select2-container {	width: 100% !important;}
    .cat-top-info p{width: 50%}
    .cat-top-info p:nth-child(2){width: 50%}
    #cart-item .bottom-info p {
        padding-right: 0;
        text-align: left;
    }
    .is-fixed div#cat_popup, .is-fixed div#menu-schedule{top:55px}
    #cart-item .bottom-info a {
        width: 30%;
        line-height: 50px;
        height: 50px;
        font-size: 14px;
        font-weight: 700;
        margin-top: 15%;
    }
    div#cat_popup, div#menu-schedule {	top: 50px;}
    .left-img img{width:100%;}
    div.categories-menu{width:30px;}
    div.categories-menu i.fa.fa-bars{
        font-size: 30px;
    }
    #header-menu #logo img{max-height: 40px;}
    ul.main-menu > li > a{
        padding: 0 20px !important;
        height: 50px;
        line-height: 50px;
        background-size: 20px !important;
    }
    .header-bottom #header-menu{line-height: 50px;}
    .header-bottom #header-menu{max-height: 50px;}
    #header-menu .main-menu > li.cart > a > span{
        width:20px; 
        height: 20px;
        line-height: 20px;
        font-size:12px;
        left:30px;
    }
    #header-menu .profile > li img{width:35px; height: 35px;}
    #header-menu .profile > li{margin:0px;}
    #header-menu .profile > li:first-child{margin-right:5px;}
    div#header-menu.is-fixed #logo img{max-height: 45px;}
    div#header-menu.is-fixed .main-menu > li > a{
        padding: 0 20px !important;
        height: 55px;
        line-height: 55px;
    }
    div#header-menu.is-fixed .main-menu > li.cart > a > span{left:30px;}
    div#header-menu.is-fixed .categories-menu{height: 50px; top:5px}
    div#header-menu.is-fixed{line-height: 55px;}
    div.slider .info h1{font-size: 20px; line-height: 24px;}
    div.slider .btn-banner{width:110px; line-height: 30px; height: 30px}
    .checkout-block .block-title{font-size:22px}
    .pick-block .row .col-xs-6{width:100%; margin-bottom: 20px;}
    #calende .col-xs-6:last-child{margin-bottom: 0px;}
    div.pick-block{padding-bottom: 40px;}
    div.for-detail button{
        margin-top: 20px;
        position: relative;
        line-height: 50px;
        max-width: 150px;
    }
    div.for-detail .btn i{
        top:9px;
    }
    #schureBlock.schure{max-height: 150px;}
    #schureBlock.schure p{font-size: 15px; line-height: 150px}
    div.feedback-block{text-align: justify; font-size: 14px; line-height: 18px;}
    div.app-footer-right p{line-height: 20px; font-size: 18px;}
    div.app-footer-right > a{display:inline-block; width:50%; float:left;}
    div.app-footer-right > a > img{
        width: 100%;
    }
    .footer-top .link-social-right p{
        display: block;
        text-align: left;
        padding-left: 30px;
        margin: 0px;
    }
    .product .main-img{min-height: 250px;}
    .feedback-block .list-feedback .author-img, .feedback-block .list-feedback .col-xs-10{
        width:100%;
    }
    .feedback-block .list-feedback .author-img img{max-width: 100px; margin:0 auto;}
    .feedback-block .item{margin-left: 25px;}
    /**PAGE**/
    .tex-content .form-contact span{
        width:100%;
        margin-bottom: 5px;
        max-width: 100%;
    }
    .tex-content .form-contact button{margin-left: 0px;}
    .form-contact > h4{position: relative;}
    .tex-content .form-contact .bottomContact i{
        right:50px;
        top:15px;
    }
    .tex-content .form-contact .topContact > p:first-child{padding-left:0px;}
    #proFile .history-order h4{width:100%;}
    #proFile .history-order{text-align: center; overflow: hidden; margin-bottom: 0px;}
    #proFile li.col-history{width:50% !important;}
    .tex-content .form-contact h4 > i{padding-left: 0px; top :-4px !important; right:0px;}
    div.slider.page .btn-banner{top:65%;}
    /*CHECKOUT*/
    div.topCart ul .first{
        width:35%;
    }
    div.topCart ul .second{width:65%; padding-left:0px;}
    div.topCart ul .third, div.topCart .fourth, div.topCart .fifth{width:33.3%; max-width: 100%;}
    div.serviceCart .col-two{width:38%;}
    div.serviceCart .col-one{width:30%;}
    div.voucherCart p{width:100%;}
    div.voucherCart span{width:100%; margin-top:10px;}
    div.bottomForm .local{width:100%; max-width: 100%;}
    div.bottomForm .address{
        width: 100%;
        position: initial;
        margin-top: 15px;
    }
    div.payName{margin-top:20px;}
    div.scheduleMore ul li{width:100% !important}
    .page-product .pick-product .product.col-xs-6.col-sm-4{width:100%; min-height: auto;}
    div.wrapSub .menu-subs{max-width: 380px;}
    div#popup-home-page > .wrap{padding:0px;}
    #popup-home-page .right-popup .bottom .exit i{top:6%; right:11%;}
    .scheduleMore ul li:first-child{width:7% !important; line-height: 20px !important;}
    .scheduleMore ul li:nth-child(2){width:82% !important;     line-height: 20px !important;}
    .scheduleMore ul li:last-child{width: 11% !important; line-height: 20px !important}
    div.scheduleMore ul li:first-child > i {margin-right:0px;}
}
@media only screen and (max-width:384px){
    div.wrapSub .menu-subs{max-width: 280px;}
}
@media only screen and (max-width: 375px) {
    div#ui-datepicker-div{width:99.5%;}
    #cart-item .bottom-info p {
        width: 100%;
    }
    #cart-item .bottom-info a{margin: 5%}
    div#header-menu.is-fixed .main-menu > li > a{
        padding: 0 20px !important;
    }
    .footer-top .link-social-right p{padding-left:0px;}
    div.slider.page .btn-banner{width:75px;}
}
@media only screen and (max-width: 320px) {
    div.categories-menu i.fa.fa-bars{font-size: 25px;}
    #header-menu .main-menu > li.cart > a > span{
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 8px;
        left: 20px;
    }
    #header-menu .profile > li img{width:24px; height: 24px;}
    div#header-menu.is-fixed #logo img, #header-menu #logo img{max-height: 35px;}
    div#header-menu.is-fixed .main-menu > li.cart > a > span{left:20px;}
    div#header-menu.is-fixed div.categories-menu i.fa.fa-bars{top:10px;}
    .footer-top .link-social-right input{max-width: 160px;}
    .link-social-right button{max-width: 100px; padding: 6px 0px;}
    h3.section-title{font-size: 20px;}
    div.app-footer-right p{font-size:14px; line-height: 16px;}
    .tex-content .form-contact .bottomContact i{right:0px;}
    .form-contact .bottomContact input.form-control{
        width:90%
    }
     .tex-content .form-contact textarea{width:90%;}
    div.checkCart .title-h2 > span{margin-left:0px; text-align: right;}
    .pagination>li:first-child, .pagination>li:last-child{
        display:none;
    }
    div##menu-schedule{top:50px;}
    #popup-home-page .right-popup .bottom .exit i{right:12%;}
    div.checkCart .title-h2 > span{margin-left:5px !important;}
}