.page-product .container
{
    max-width: 1064px;
    margin: 0 auto;
}
.form-contact input.form-control
{
    float: left;

    height: 30px;

    border: 1px solid #515252;
    border-radius: 0;
}
.form-contact .bottomContact input.form-control
{
    width: 78%;
    max-width: 335px;

    border: 2px solid #515252;
}
.form-contact .topContact input.form-control
{
    width: 78%;
    max-width: 225px;

    border: 2px solid #515252;
}
.form-contact textarea
{
    width: 78%;
    max-width: 335px;
    min-height: 75px;
    padding: 6px 12px ;

    border: 2px solid #515252;
    border-radius: 0;
}
.avata img
{
    border: 3px solid #515252;
    border-radius: 100%;
}

.form-contact p
{
    font: 400 14px Roboto, sans-serif;

    position: relative;

    overflow: hidden;

    width: 100%;

    color: #515252;
}
.form-contact  .topContact > p:first-child
{
    padding-left: 120px;
}
.form-contact span
{
    font-weight: 400;

    display: inline-block;
    float: left;

    width: 22%;
    max-width: 120px;
}
.form-contact h4
{
    font: 900 14px Arial;

    color: #515252;
}
.form-contact h4 strong
{
    font-weight: 900;

    color: #02b691;
}
.form-contact i
{
    font-size: 20px;
    line-height: 30px;

    padding-left: 10px;

    color: #02b691;
}
/*
.form-contact input.form-control:nth-child(1) {
    margin-left: 143px;
}
*/
.form-contact h4 i
{
    padding-left: 50px;
}
.form-contact i.fa.fa-pencil-square-o:last-child
{
    position: absolute;
}
.avata
{
    padding-top: 82px;

    text-align: center;
}
.tex-content
{
    padding-top: 58px;
    padding-left: 35px;
}
.avata p
{
    font: 400 14px Roboto, sans-serif;
    font-weight: 400;

    padding-top: 40px;

    color: #515252;
}
.avata p a
{
    position: absolute;
    top: 260px;
    left: 87px;

    display: none;

    height: 27px;
    padding: 5px;

    -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

    color: #fff;
    border-radius: 5px;
    background: #02b691;
}
.avata:hover p a
{
    bottom: 0;

    display: block;
}
.avata p a:hover
{
    text-decoration: none;
}
.form-contact button
{
    font: 400 16px Roboto, sans-serif;

    width: 99px;
    height: 32px;
    margin-left: 143px;

    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;

    color: #fff;
    border: none;
    background-color: #02b691;
}
.form-contact
{
    padding-bottom: 79px;

    border-bottom: 1px solid #ccc;
}
.history-order h4
{
    font: 900 14px Arial;
    line-height: 0;

    float: left;

    width: 37%;

    color: #515252;
}
.history-order .title
{
    font: 400 14px Roboto, sans-serif;
    font-weight: 400;
    line-height: 41px;

    color: #515252;
}
li.col-history
{
    display: inline-block;

    width: 24%;
}
.history-order ul
{
    line-height: 28px;
}
.history-order ul li,
.history-order ul li h5
{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #515252;
}
.history-order
{
    margin-top: 22px;
    margin-bottom: 90px;
}
.footer-top .link-social
{
    float: left;

    width: 100%;
    height: 110px;

    background-color: #f0f0f0;
}
.footer-top .link-social ul li
{
    display: inline-block;
}
.footer-top .link-social ul li i
{
    font-size: 30px;
    line-height: 110px;

    padding: 0 12px;

    color: #3e3935!important;
}
.footer-top .link-social ul li i:hover
{
    color: rgba(0,0,0,.5)!important;
}
.footer-bottom
{
    float: left;

    width: 100%;
}
.link-social-right p
{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;

    float: left;

    color: #515252;
}
.link-social-right input
{
    float: left;

    width: 275px;
    height: 30px;
}
.link-social-right button
{
    width: 100px;
    height: 30px;

    color: #fff;
    border: none;
    background: #3d3935;
}
.link-social-right
{
    line-height: 110px;
}
.link-social-right input
{
    width: 220px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
}
.app-footer
{
    float: left;

    width: 100%;
    height: 225px;
    margin-bottom: 3px;

    background-image: url(../images/bg-footer-top.png);
}
.app-footer-left
{
    text-align: center;
}
.app-footer-left img
{
    padding-top: 28px;
}
.app-footer-right p
{
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 400;

    color: #515252;
}
.app-footer-right
{
    padding-top: 70px;
}
.form-contact button:hover
{
    background-color: rgba(2, 182, 145, .6);
}
.cat-top-info h5
{
    font: 900 21px Roboto;

    color: #02b691;
}
.cat-top-info .title a
{
    font: 400 16px Roboto, sans-serif;

    display: inline-block;
    float: left;

    margin: 10px 0;
    margin: 10px 0 10px 30px;
    padding: 5px 10px;

    color: #fff;
    background-color: #02b691;
}
.cat-top-info a:hover
{
    text-decoration: none;
}
.cat-top-info ul li
{
    float: left;

    width: 100%;
}
.cat-top-info .title
{
    float: left;

    width: 100%;
}
.cat-top-info .title h5
{
    float: left;

    width: 15%;
}
.first-col i
{
    padding-right: 20px;

    color: #515152;
}
.cat-top-info .first-col
{
    width: 15%;
}
.cat-top-info .two-col
{
    width: 45%;
}
.cat-top-info .four-col i
{
    font-size: 25px;
    line-height: 24px;

    float: left;

    margin-right: 45px;

    color: #02b691;
}

.cat-top-info p
{
    font: 400 16px Roboto, sans-serif;

    padding-top: 15px;

    color: #515152;
}
.cat-top-info .three-col
{
    padding-right: 40px;
}
.cat-top-info .three-col,
.cat-top-info .four-col
{
    width: 19%;

    text-align: right;
}
.cat-top-info .three-col i
{
    margin: 0 10px;
    padding: 3px;

    color: #fff;
    background-color: #02b691;
}
.cat-top-info
{
    margin-top: 93px;
    padding-bottom: 19px;

    border-bottom: 1px solid #ccc;
}
.cat-center-info p:nth-child(1)
{
    float: left;

    width: 50%;
}
.cat-center-info p:nth-child(2)
{
    float: right;

    width: 50%;
    padding-top: 5px;
    padding-right: 11px;

    text-align: right;
}
.cat-center-info p input.form-control
{
    float: left;

    width: 227px;
    height: 29px;
    margin-left: 32px;

    border: 1px solid #515252;
    border-radius: 0;
}
.cat-bottom-info
{
    float: left;

    width: 100%;
    padding-top: 20px;
    padding-right: 11px;
    padding-bottom: 32px;

    border-bottom: 1px solid #ccc;
}
.cat-center-info p span
{
    line-height: 32px;

    float: left;
}
.cat-bottom-info ul li
{
    display: inline-block;
}
.cat-bottom-info p,
.cat-center-info p
{
    font: 400 16px Roboto, sans-serif;

    color: #515152;
}
.cat-bottom-info .first-col
{
    width: 15%;
}
.cat-bottom-info .two-col
{
    width: 55%;
}
.cat-bottom-info .three-col
{
    float: right;

    width: 29%;

    text-align: right;
}
.cat-center-info
{
    float: left;

    width: 100%;
    padding-top: 11px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.cat-bottom-info .three-col strong
{
    float: right;

    width: 100%;
    padding-bottom: 20px;
}
.cat-bottom-info .three-col button
{
    width: 99px;
    height: 32px;

    color: #fff;
    border: none;
    background: #02b691;
}
.customer-info .col-md-4 input.form-control
{
    float: right;

    width: 227px;
    height: 41px;

    border-color: #515252;
    border-radius: 0;
}
.customer-info textarea
{
    float: right;

    width: 556px;
    height: 80px;

    border-color: #515252;
}
.customer-info p.col-md-4
{
    line-height: 42px;
}
.customer-info p.col-md-12 span
{
    float: left;

    width: 40%;

    text-align: right;
}
.customer-info input[type='checkbox']
{
    float: left;

    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-left: 83px;

    border: 1px solid #02b691;
}
.customer-info .delivery
{
    width: 34.33333%;
}
.customer-info .input-group
{
    width: 65.66667%;
}
.customer-info .delivery,
.customer-info .name
{
    padding-left: 0;
}
.customer-info .delivery select
{
    width: 227px;
    height: 42px;

    border-color: #515252;
}
.customer-info .input-group input
{
    height: 42px;

    border-color: #515252;
    border-right: none;
    border-radius: 0;
}
.customer-info .input-group .input-group-addon
{
    border-color: #515252;
    background: #fff;
}
.customer-info .input-group
{
    padding-right: 15px;
}
.customer-info button
{
    float: right;

    width: 99px;
    height: 30px;
    margin-top: 24px;
    margin-right: 15px;

    color: #fff;
    border: none;
    background-color: #02b691;
}
.customer-info h5
{
    font: 900 21px Arial;

    float: left;

    width: 100%;
    margin-top: 47px;
    margin-bottom: 15px;

    text-transform: uppercase;

    color: #02b691;
}
.customer-info h5 i
{
    font-size: 15px;

    padding-left: 10px;
}
.customer-info p
{
    font: 400 15px Roboto, sans-serif;

    color: #515252;
}
.customer-info
{
    float: left;

    width: 100%;
    padding-bottom: 33px;

    border-bottom: 1px solid #ccc;
}
.schedule-info .title h5
{
    font: 900 21px Arial;

    float: left;

    width: 15%;

    color: #02b691;
}
.schedule-info .title a
{
    font: 400 16px Roboto, sans-serif;

    float: left;

    margin: 10px 0;
    padding: 5px 10px;

    color: #fff;
    background-color: #02b691;
}
.schedule-info p
{
    font: 400 16px Roboto, sans-serif;

    float: left;

    width: 100%;

    color: #515252;
}
.schedule-info p i.fa.fa-pencil-square-o
{
    font-size: 25px;

    float: right;

    margin-right: 15px;

    color: #02b691;
}
.schedule-info p i.glyphicon.glyphicon-remove
{
    padding-right: 20px;
}
.schedule-info
{
    float: left;

    width: 100%;
    padding-top: 36px;
    padding-bottom: 33px;

    border-bottom: 1px solid #ccc;
}
.schedule-info button,
.payment button
{
    float: right;

    width: 99px;
    height: 30px;
    margin-top: 24px;
    margin-right: 15px;

    color: #fff;
    border: none;
    background-color: #02b691;
}
.payment
{
    float: left;

    width: 100%;
    padding-bottom: 71px;
}
.payment h5
{
    font: 900 21px Arial;

    float: left;

    width: 100%;
    margin-top: 47px;
    margin-bottom: 15px;

    text-transform: uppercase;

    color: #02b691;
}
.payment h5 i
{
    font-size: 15px;

    padding-left: 10px;
}
.payment .pm-method
{
    float: left;

    width: 100;
}
.payment .pm-method select
{
    width: 227px;
    height: 41px;
    margin-left: 20px;

    border-color: #515252;
}
.payment .add-note
{
    float: left;

    width: 100%;
}
.payment .add-note textarea
{
    float: right;

    width: 815px;
    height: 85px;
    margin-right: 15px;

    border-color: #515252;
}
.sidebar-left h5
{
    font: 900 32px Arial;

    padding-top: 42px;
    padding-bottom: 15px;

    color: #000;
}
.sidebar-left ul li a
{
    font: 400 24px Roboto, sans-serif;

    padding: 5px 0;

    text-align: right;

    color: #000;
}
.content-right .sort-by
{
    font: 400 18px Roboto, sans-serif;

    padding-top: 49px;
    padding-bottom: 35px;

    text-align: right;

    color: #515252;
}
.sort-by .select2-container--default .select2-selection--single .select2-selection__rendered
{
    color: #515252;
}
.sort-by .select2-container--default .select2-selection--single
{
    text-align: left;

    border-color: #515252;
}
.sort-by .select2-container
{
    width: 139px!important;
    height: 46px;
}
.pick-product .product .main-img img
{
    height: 251px;
}
.pick-product .product.col-xs-6.col-sm-4
{
    overflow: hidden;

    height: 282px;
    padding-bottom: 24px;

    transition: all 1s ease;
}
.pagination > li > a
{
    color: #515252;
}
.pagination > li > a:focus,
.pagination > li > a:hover
{
    background-color: #02b691;
}
.page-product nav .pagination
{
    padding-top: 42px;
    padding-bottom: 85px;
}
.product .detail .add-cart
{
    bottom: 15px!important;
}
.product:hover .detail .desc
{
    font-family: Roboto, sans-serif;
    font-size: 12px;

    display: block;

    padding-bottom: 5px;
    padding-left: 10px;
}
.product:hover .detail .option
{
    position: relative;
    z-index: 999;

    display: block;
    overflow: hidden;

    background-color: rgba(2, 182, 145, .9);
}
.product:hover .detail
{
    padding-left: 0!important;

    color: #515252;
    background-color: rgba(255, 255, 255, .67)!important;
}
.product:hover .detail .add-cart
{
    display: none;
}
.product .detail .extra .btn-product:hover,
.product .detail .standard  .btn-product:hover,
.product .detail .extra-big  .btn-product:hover
{
    color: #16ba98!important;
    background-color: #fff;
}

.product:hover .detail .extra .btn-product
{
    font-size: 11px;

    position: absolute;
    right: 83px;
    bottom: 15px;

    padding: 10px;

    color: #fff;
}
.product:hover .detail .standard  .btn-product
{
    font-size: 11px;

    position: absolute;
    bottom: 15px;
    left: 3px;

    padding: 10px;

    color: #fff;
}
.product:hover .detail .extra-big  .btn-product
{
    font-size: 11px;

    position: absolute;
    right: 4px;
    bottom: 15px;

    padding: 10px;

    color: #fff;
}
.product:hover .detail .extra label
{
    position: absolute;
    right: 87px;

    margin-top: 20px;

    color: #fff;
}
.product:hover .detail .extra-big label
{
    position: absolute;
    right: 13px;

    margin-top: 20px;

    color: #fff;
}
.product:hover .detail .price
{
    margin-bottom: 0;
}
.header-bottom .btn-banner:hover,
.form-contact button:hover,
.cat-top-info .title a:hover,
button:hover,
.schedule-info .title a:hover,
.cat-bottom-info .three-col button:hover
{
    text-decoration: none;

    background-color: #167b67;
}
.sidebar-left ul li a
{
    padding-left: 10px;

    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
    text-align: left;

    border-bottom: 1px dashed #ccc;
}
.sidebar-left ul li:first-child a
{
    border-top: 1px dashed #ccc;
}

.sidebar-left ul li a:hover
{
    color: #fff;
    background-color: #515252;
}
.for-detail button:hover
{
    background-color: #167b67!important;
}
.product-block .list-products .load-more:hover
{
    -webkit-transition: 1s ease-in-out;
    text-decoration: none;

    color: #fff;
    border-color: #02b691;
    background-color: #02b691;
}
.header-top
{
    background-image: url(../images/bg-top-header.png)!important;
    background-repeat: no-repeat!important;
}

.index-page .header-bottom .btn-banner
{
    position: absolute;
    top: 180px;
    left: 15px;
}
.index-page .header-bottom .bottom-slide
{
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 100%;
    height: 50px;

    background: url(../images/bg-bottom-slider.png);
}
#cart-item
{
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;

    width: 80%;
    height: 80%;
    margin: auto;
}
/*#cart-item */.cat-top-info .first-col
{
    float: left;

    width: 20%;
}
/*#cart-item */.cat-top-info .two-col
{
    float: left;

    width: 35%;
}
/*#cart-item */.cat-top-info .three-col
{
    float: left;

    width: 18%;
    padding-right: 5px;
}
/*#cart-item*/ .cat-top-info .four-col
{
    width: 25%;
}
/*#cart-item*/ .cat-top-info .four-col i
{
    margin-right: 0!important;
    padding-left: 25px;
}
/*#cart-item*/ .cat-top-info
{
    margin-top: 10px;
    padding-left: 10px;

    border: none;
}
#cart-item .bottom-info p
{
    font: 400 16px Roboto, sans-serif;
    line-height: 15px;

    float: left;

    width: 65%;
    padding-top: 26px;

    text-align: right;

    color: #515252;
}
#cart-item .bottom-info a
{
    line-height: 76px;

    float: right;

    width: 34%;

    text-align: left;
    text-align: center;
}
#cart-item .bottom-info p span
{
    font: 900 21px Roboto;

    color: #fff;
}
#cart-item .bottom-info
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 150px;
    padding-left: 10px;

    background-color: #02b691;
}
#cart-item .bottom-info a
{
    font: 400 18px Roboto, sans-serif;

    width: 180px;
    height: 76px;
    margin-top: 36px;
    margin-right: 10px;
    padding: 25px 30px;

    color: #02b691;
    border-radius: 10px;
    background: #fff;
}
#menu-lang
{
    position: absolute;
    top: 88px;
    right: -117px;
}
#menu-schedule
{
    position: absolute;
    top: 88px;
    right: 15px;
    /*top: 490px;
    right: 210px*/

    cursor: pointer;
}
#popup-home-page
{
    position: fixed;
    z-index: 99999;
    top: 10%;
    left: 16.5%;

    display: none;

    width: 100%;
    max-width: 1065px;
    padding: 15px;

    color: #444;
    border: 1px solid #eee;
    border-radius: 10px;
    background: #f8f9fa;
    
    margin: auto;
    left: 0;
    right: 0;
}
#popup-home-page .wrap > p
{
    float: left;

    width: 39%;
    max-width: 375px;
    margin-top: 0;
}
#popup-home-page .wrap > p > img
{
    width: 100%;
    max-height: 405px;
    margin: 0;
}
#popup-home-page .right-popup
{
    position: relative;

    float: right;

    width: 59%;
    margin-left: 2%;
}
#popup-home-page .right-popup .top h5
{
    font: 400 24px Roboto, sans-serif;
    line-height: 24px;

    width: 100%;
    margin: 0;

    color: #444;
}
#popup-home-page .right-popup .top
{
    float: left;

    width: 100%;
    padding-bottom: 20px;

    border-bottom: 1px solid #ccc;
}
#popup-home-page .right-popup .top .icon
{
    float: right;

    width: 50%;

    text-align: right;
}
#popup-home-page .right-popup .top .icon a
{
    position: absolute;
    top: 0;

    float: right;

    width: 33px;
    height: 33px;

    color: #fff;
}
#popup-home-page .right-popup .top .icon a i
{
    font-size: 18px;

    float: right;

    padding: 9px 5px;
}
#popup-home-page .right-popup .top .icon a:nth-child(1)
{
    right: 65px;

    padding-right: 7px;

    background-color: #346da6;
}
#popup-home-page .right-popup .top .icon a:nth-child(2)
{
    right: 30px;

    background-color: #ca4738;
}
#popup-home-page .right-popup .top .text
{
    font-size: 14px;
    line-height: 18px;

    width: 100%;
    margin-top: 25px;
    margin-bottom: 0;
}
#popup-home-page .right-popup .bottom
{
    overflow: hidden;

    width: 100%;
}
#popup-home-page .right-popup .bottom p a
{
    font: 400 16px Roboto, sans-serif;

    display: inline-block;

    margin-right: 10px;
    padding: 5px 10px;

    color: #696767;
    border: 1px solid #eee;
    border-radius: 7px;
}
#popup-home-page .right-popup .bottom p a:hover,
#popup-home-page .right-popup .bottom p a.selected
{
    text-decoration: none;

    color: #fff;
    border-color: #02b691;
    background-color: #02b691;
}
#popup-home-page .right-popup .bottom p
{
    float: left;

    width: 50%;
}
#popup-home-page .right-popup .bottom h6
{
    font: 400 18px Roboto, sans-serif;
    line-height: 35px;

    float: right;

    width: 50%;
    margin: 0;

    text-align: right;

    color: #696767;
}
#popup-home-page .right-popup .bottom h6 span
{
    font: 400 22px Roboto, sans-serif;

    padding: 0 50px;

    color: #696767;
    border: 1px solid #eee;
    border-radius: 7px;
}
#popup-home-page .right-popup .bottom .form-qr
{
    float: left;

    width: 100%;
    padding-bottom: 15px;
}
#popup-home-page .right-popup .bottom .form-qr .select2-selection__arrow
{
    line-height: 33px;

    color: #777;
}
#popup-home-page .right-popup .bottom .form-qr .select2-container
{
    float: left;

    width: 129px!important;
    height: 33px;

    border: 1px solid #eee;
    border-radius: 7px;
}
#popup-home-page .right-popup .bottom .form-qr .select2-selection--single
{
    height: 33px!important;
}
#popup-home-page .right-popup .bottom .form-qr  .select2-selection__rendered
{
    font: 400 18px / 33px Roboto, sans-serif;

    color: #777!important;
}
#popup-home-page .right-popup .bottom .form-qr .end
{
    line-height: 33px;

    float: left;

    width: 100%;
    margin-top: 10px;
}
#popup-home-page .right-popup .bottom .form-qr .end a
{
    display: inline-block;

    margin: 5px;
    padding: 2px 5px;

    color: #696767;
    border: 1px solid #e9e9e7;
    border-radius: 7px;
    background: #e9e9e7;
}
#popup-home-page .right-popup .bottom .form-qr .end a:hover
{
    text-decoration: none;

    color: #fff;
    background-color: #02b691;
}
#popup-home-page .right-popup .bottom .form-qr .col-xs-3:nth-child(1)
{
    padding-left: 0!important;
}
#popup-home-page .right-popup .bottom .exit i
{
    font-size: 17px;

    position: absolute;
    top: -25px;
    right: -25px;

    cursor: pointer;
}
/*
.bg-popup {
    position: fixed;
    z-index: 999;
    background: rgba(37, 34, 34, 0.91);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

*/
#cart-item
{
    padding: 0;
    /*display: block;*/
}
.for-detail .btn i
{
    font-size: 30px;

    position: absolute;
    top: 66px;

    padding-left: 5px;
}
.categories-menu.fixed
{
    position: fixed!important;
    z-index: 999;
    top: 0!important;
    left: 0!important;

    width: 100%!important;
    height: 50px!important;

    background: rgba(51, 51, 51, .85);
}
#header-menu .categories-menu.fixed #cat_popup
{
    top: 50px;
    left: 20px;

    width: 320px;
}
#header-menu .login
{
    float: left;

    margin-bottom: 0;
    padding: 0 10px;
}
#header-menu .login:hover
{
    background-color: #02b691 ;
}
.avata .name-level .score img
{
    padding: 0 10px;

    border: none;
    border-radius: 0;
}
.avata .name-level .score
{
    font-size: 25px;

    display: none;

    padding-top: 0;
}
.avata .name-level .score.active
{
    display: block;
}
.avata .name-level .score span
{
    display: none;

    color: #02b691;
    background: #e8e8e8;
}
.avata .name-level .score:hover span
{
    display: block;
}
.avata .name-level
{
    margin-top: -45px;
}
.categories-menu i.fa.fa-bars
{
    font-size: 40px;

    position: absolute;
    top: 5px;
    left: -120px;

    color: #fff;
}
.categories-menu.fixed i.fa.fa-bars
{
    left: 20px;
}
.title a,
button
{
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}
.date-picker input
{
    font-size: 18px;

    width: 356px;
    height: 43px;
    padding-left: 10px;

    color: #fff;
    border-radius: 7px;
    background: #262626;
}
.date-picker button
{
    width: 64px;
    height: 43px;

    color: #fff;
    border-left: none;
    border-radius: 7px;
    background: #262626;
}
.date-picker button i
{
    font-size: 28px;

    position: relative;
    top: -2px;
}
table.ui-datepicker-calendar thead
{
    display: none;
}
#ui-datepicker-div .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content
{
    position: absolute;
    bottom: 50px;

    display: block;

    width: 100%;
    padding-right: 25px;
    padding-left: 25px;

    border: none;
}
#ui-datepicker-div tbody .ui-state-default
{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: italic;

    text-align: center;

    color: #676767;
    border: none;
}
#ui-datepicker-div tbody .ui-state-active
{
    background-color: #c8d7d4;
}
#ui-datepicker-div .ui-widget-header
{
    background-color: #fff;
}
#ui-datepicker-div .ui-datepicker-header
{
    border: none;
}
/*#ui-datepicker-div .ui-datepicker-title{
        height: 90px;
        line-height: 90px;
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;

        font-weight: 200;
}*/

/*#cart-item*/ .cat-top-info p
{
    float: left;

    width: 20%;
}
/*#cart-item*/ .cat-top-info p i
{
    margin: 0 10px;
    padding: 3px;

    color: #fff;
    background-color: #02b691;
}
/*#cart-item*/ .cat-top-info p:nth-child(4) i
{
    font-size: 25px;
    line-height: 24px;

    float: left;
    float: right;

    margin: 0;

    color: #02b691;
    background: none;
}
/*#cart-item*/ .cat-top-info p:nth-child(2)
{
    width: 35%;
}

.slide-header .container
{
    position: relative;
}



.color-click-red #color-red
{
    color: #fff!important;
    background-color: #02b691;
}
.color-click-blue #color-blue
{
    color: #fff!important;
    background-color: #02b691;
}
.color-click-green #color-green
{
    color: #fff!important;
    background-color: #02b691;
}

.index-page .header-bottom .bottom-slide
{
    background-size: 100%;
}
#popup-home-page .right-popup .bottom .plus  i.fa.fa-heart-o
{
    font-size: 40px;

    position: absolute;
    top: 8px;
    right: 168px;
}
#popup-home-page .right-popup .bottom .plus  i.fa.fa-heart-o:hover
{
    color: #f34336;
}
#popup-home-page .right-popup .bottom .plus  i.fa.fa-heart
{
    font-size: 40px;

    position: absolute;
    top: 8px;
    right: 168px;

    display: none;

    color: #f34336;
}
#popup-home-page .right-popup .bottom .plus  i.fa.fa-heart-o:hover
{
    color: #f34336;
}
#popup-home-page .right-popup .bottom .plus-heart i.fa.fa-heart-o
{
    display: none;
}
#popup-home-page .right-popup .bottom .plus-heart i.fa.fa-heart
{
    display: block;
}
/*#popup-home-page .right-popup .bottom .plus-heart i.fa.fa-heart-o{
    background-color: #f34336;
}*/
#popup-home-page .right-popup .top .icon a:nth-child(1):hover
{
    background-color: #185490;
}
#popup-home-page .right-popup .top .icon a:nth-child(2):hover
{
    background-color: #b32515;
}
.profile > li:hover img
{
    opacity: .5;
}
.fixed #cat_popup a:hover,
.categories-menu #cat_popup a:hover
{
    text-decoration: none;

    color: #fff;
    background-color: #02b691;
}

#cat_popup
{
    padding: 0;
}
#cat_popup a,
#cat_popup h6
{
    padding-right: 15px;
    padding-left: 15px;

    -webkit-transition: all .7s ease;
       -moz-transition: all .7s ease;
        -ms-transition: all .7s ease;
         -o-transition: all .7s ease;
            transition: all .7s ease;
}

/*#cart-item*/ .cat-top-info p i.glyphicon.glyphicon-remove:hover
{
    border: 1px solid red;
    border-radius: 100%;
    background: rgba(220, 9, 9, .75);
}
.pick-block .for-detail
{
    position: relative;
}
.pick-block .for-detail i.fa.fa-eye
{
    font-size: 20px;
    font-weight: 700;

    position: absolute;
    left: 190px;

    color: #777;
}
.pick-block .ask_delitm input
{
    width: 20px;
    height: 20px;
}

#form-login .form-group label
{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;

    float: left;

    color: #999;
}
#form-login .form-group a
{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;

    float: right;

    color: #999;
}
#form-login .form-group
{
    float: left;

    width: 100%;
}

#form-login form button,
#form-register form button
{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 600;

    width: 100%;

    border: none;
    border-radius: 0;
    background: #02b691;
}
.checkout-page .cat-top-info
{
    float: left;

    width: 100%;
}
.select2-dropdown
{
    z-index: 999999 !important;
}
/*#form-register{display: block;}*/
